<div class="relative">
	<div class="carousel-container">
		<div class="carousel-container__context" id="carousel-container__context">
			<div class="carousel-container__context__item carousel-item">
				<div class="carousel-container__bg">
					<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/carousel/image01.jpg" alt=""/>
				</div>
				<div class="carousel-container__modal">
					<div class="carousel-container__modal-context">
						<div class="carousel-container__modal-text">
							<label class="a">48 AYA KADAR</label>
							<label class="b">VADE FARKSIZ</label>
						</div>
						<div class="carousel-container__modal-buttons">
							<a href="#">
								<label>Ayrıntılar için Tıklayınız</label>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-container__context__item carousel-item">
				<div class="carousel-container__bg">
					<img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/carousel/image01.jpg" alt=""/>
				</div>
				<div class="carousel-container__modal">
					<div class="carousel-container__modal-context">
						<div class="carousel-container__modal-text">
							<label class="a">48 AYA KADAR</label>
							<label class="b">VADE FARKSIZ</label>
						</div>
						<div class="carousel-container__modal-buttons">
							<a href="#">
								<label>Ayrıntılar için Tıklayınız</label>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-container__arrow--left"></div>
		<div class="carousel-container__arrow--right"></div>
	</div>
	{% include "partials/request-form.twig" with {'isvisible':'hidden-m'} only %}
	<div class="request-form-buttons show-m">
		<button type="button" id="mobile-request-form">BİLGİ TALEP FORMU<div class="arrow">
				<span></span>
			</div>
		</button>
	</div>
</div>

{% include "partials/request-form.twig" with {'isvisible':'just-mobile request-form-mobile','ismobile':true} only %}
