<div class="header">
	<div class="header__topbar">
		<div class="context flex">
			<div class="header__topbar--title"></div>
			<div class="header__social show-m">
				<ul>
					<li>
						<a href="#">
							<i class="fab fa-instagram"></i>
						</a>
						<a href="#">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="#">
							<i class="fab fa-youtube"></i>
						</a>
						<a href="#">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="header__topbar--lang">
				<a href="#">&nbsp;</a>
			</div>
		</div>
	</div>
</div>
<div class="header-menu">
	<div class="header-menu__logo">
		<a href="/">
			<img src="{{ __base__ }}/assets/images/logo.png" alt="" class="hidden-m"/>
			<img src="{{ __base__ }}/assets/images/logo-mobile.png" alt="" class="show-m"/>
		</a>
	</div>
	<div class="header-menu__context">
		<div class="header-menu__top">
			<div class="header-menu__top--context">
				<ul>
					<li class="hidden-m">
						<a href="#" class="e-katalog"><img src="{{ __base__ }}/assets/images/common/catalog.png" alt="e-katalog"/>E-KATALOG</a>
					</li>
					<li class="hidden-m">
						<a href="#" class="sanal-tur"><img src="{{ __base__ }}/assets/images/common/360.png" alt="sanal tur"/>SANAL TUR</a>
					</li>
					<li class="header-phone">
						<a href="#" class="phone-item">
							<span><img src="{{ __base__ }}/assets/images/common/phone.png" alt="Phone"/></span>
							<label>0850 285 79 00</label>
						</a>
					</li>
					<li class="show-m mobile-menu">
						<button type="button"><img src="{{ __base__ }}/assets/images/list-menu.svg" alt="" style="width:30px; height:30px;"/></button>
					</li>
				</ul>
			</div>
		</div>
		<div class="header-menu__bottom">
			<nav class="header-menu__bottom--context">
				<ul>
					<li><a href="/"class="{{ (__pathname == '/') ? 'active' :'' }}">PROJE ÖZELLİKLERİ</a></li>
					<li><a href="/yasam-secenekleri"class="{{ (__pathname == '/yasam-secenekleri') ? 'active' :'' }}">YAŞAM SEÇENEKLERİ</a></li>
					<li><a href="/daire-planlari"class="{{ (__pathname == '/daire-planlari') ? 'active' :'' }}">DAİRE PLANLARI</a></li>
					<li><a href="/galeri"class="{{ (__pathname == '/galeri') ? 'active' :'' }}">GALERİ</a></li>
					<li><a href="/lokasyon"class="{{ (__pathname == '/lokasyon') ? 'active' :'' }}">LOKASYON</a></li>
					<li><a href="/basinda"class="{{ (__pathname == '/basinda') ? 'active' :'' }}">BASINDA</a></li>
					<li><a href="#"class="{{ (__pathname == '/ticari') ? 'active' :'' }}">TİCARİ</a></li>
					<li><a href="/iletisim"class="{{ (__pathname == '/iletisim') ? 'active' :'' }}">İLETİŞİM</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
