<div class="footer">
	<div class="footer__left">
		<div class="footer__left-context">
			<div class="footer__left-context-col--left">
				<ul>
					<li><a href="#">PROJE ÖZELLİKLERİ</a></li>
					<li><a href="#">YAŞAM SEÇENEKLERİ</a></li>
					<li><a href="#">TİCARİ</a></li>
					<li><a href="#">LOKASYON</a></li>
					<li><a href="#">DAİRE PLANLARI</a></li>
					<li><a href="#">GALERİ</a></li>
					<li><a href="#">BASINDA</a></li>
				</ul>
			</div>
			<div class="footer__left-context-col--right">
				<div class="contact-info__context">
					<h1>İLETİŞİM</h1>
					<p class="address">Hürriyet Bulvarı Oyak</p>
					<p class="address">Kent Yanı Başakşehir</p>
					<p class="address">Mahallesi</p>
					<p class="phone">
						<b>+90 212 401 67 50</b>
					</p>
				</div>
				<div class="contact-info__context--social">
					<ul>
						<li>
							<a href="#">
								<i class="fab fa-instagram"></i>
							</a>
							<a href="#">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="#">
								<i class="fab fa-youtube"></i>
							</a>
							<a href="#">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__right">
		<img src="{{ __base__ }}/assets/images/common/map.jpg" alt=""/>
	</div>
</div>
