<section>
	<div class="section-page">
		<div class="section-page__context">

			<div class="istanbul-botanik-top"></div>
			<div class="botanik-story">
				<div class="botanik-story__header">
					<h1 class="botanik-story__title" data-aos="fade-up" data-aos-delay="300">
						<strong>AVRUPA'NIN EN BÜYÜK BOTANİK PARKI</strong><br class="hidden-m"/>
						BAHÇENİZ OLACAK!
					</h1>
					<h2 data-aos="fade-up" data-aos-delay="400">Lale Devri'nin sefasıdır yayılan çiçeklerin kokusunda...</h2>
					<p class="botanik-story__desc" data-aos="fade-up" data-aos-delay="500">
						Avrupa'nın en büyüğü olması planlanan ve doğanın en güzel renklerini cömertçe önünüze serecek Botanik Park'a komşu
						                        3. İstanbul sayesinde, şehirde yaşadığınızı bile unutacaksınız. 368 bin metrekarelik bir alana kurulacak olan ve
						                        doğanın güzelliklerini seyre dalıp keyifli yürüyüşler yapacağınız Botanik Park, evinizin bahçesi gibi olacak...
					</p>
				</div>
				<div class="botanik-story__carousel">
					<div class="botanik-story__carousel--item">
						<img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/botanik/94819418.jpg" alt="" class="hidden-m"/>
						<img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/botanik/94819418-mobile.jpg" alt="" class="show-m"/>
					</div>
				</div>
			</div>
			
        <div class="istanbul-botanik-bottom"></div>
		</div>
	</div>
</section>
