<div class="life-options-story">

	{% if page_content == true %}
		<div class="life-options-story__header">

			<h1 class="life-options-story__title" data-aos="fade-up">
				<strong>YAŞAM</strong>
				SEÇENEKLERİ
			</h1>
			<h2 data-aos="fade-up">Ah İstanbul, ah! Bir ömür yeter mi hiç seni yaşamaya?</h2>
		</div>
	{% endif %}
	<div class="life-options-story__area">
		<div class="life-options-story__area-item">
			<div class="life-options-story__area-item-bg">
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/98188239.jpg" alt="" class="hidden-m"/>
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/98188239-mobile.jpg" alt="" class="show-m"/>
			</div>
			<div class="lfo__area-item-modal" data-aos="fade-up">
				<ul>
					<li class="lfo__area-item-modal__img">
						<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/logo-moda-evleri.png" alt="" class="hidden-m"/>
						<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/logo-moda-evleri-mobile.png" alt="" class="show-m"/>
					</li>
					{% if page_content %}
						<li class="lfo__area-item-modal__desc">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</li>
						<li class="lfo__area-item-modal__button">
							<a href="#" class="color-orange">Detaylar için tıklayın</a>
						</li>
					{% endif %}
				</ul>
			</div>

			{% if page_content == false %}
				<div class="life-options-story__carousel">
					<div class="life-options-story__carousel-item carousel-context" id="life-options-context">
						<div class="carousel-wrapper" data-aos="fade-right">
							<div class="carousel-image" id="life-options-items">
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image01.jpg" alt=""/>
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image01.jpg" alt=""/>
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image01.jpg" alt=""/>
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image01.jpg" alt=""/>
							</div>
						</div>
						<div class="carousel-image-dots" id="carousel-tumbs-moda" data-thumb-type="button"></div>

						<div class="life-options-story__carousel-button show-m">
							<a href="#" class="button btn-green">Biz Sizi Arayalım</a>
						</div>
					</div>
					<div class="life-options-story__carousel-item life-options-story__carousel-text" data-aos="fade-left">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
						</p>
						<div class="life-options-story__carousel-button hidden-m">
							<a href="#" class="button btn-green">Biz Sizi Arayalım</a>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="life-options-story__area-item">
			<div class="life-options-story__area-item-bg">
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/782749918.jpg" alt="" class="hidden-m"/>
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/782749918-mobile.jpg" alt="" class="show-m"/>
			</div>
			<div class="lfo__area-item-modal reverse" data-aos="fade-up">
				<ul>
					<li class="lfo__area-item-modal__img">
						<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/logo-hasbahce-evleri.png" alt="" class="hidden-m"/>
						<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/logo-hasbahce-evleri-mobile.png" alt="" class="show-m"/>
					</li>
					{% if page_content %}
						<li class="lfo__area-item-modal__desc">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</li>
						<li class="lfo__area-item-modal__button">
							<a href="#" class="color-green">Detaylar için tıklayın</a>
						</li>
					{% endif %}
				</ul>
			</div>
			{% if page_content == false %}
				<div class="life-options-story__carousel reverse">
					<div class="life-options-story__carousel-item carousel-context ">
						<div class="carousel-wrapper" data-aos="fade-right">
							<div class="carousel-image" id="life-options-items-bahce">
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image02.jpg" alt=""/>
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image02.jpg" alt=""/>
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image02.jpg" alt=""/>
								<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image02.jpg" alt=""/>
							</div>
						</div>
						<div class="carousel-image-dots" id="carousel-tumbs-bahce" data-thumb-type="button">
							<button type="button" class="active"></button>
						</div>

						<div class="life-options-story__carousel-button show-m">
							<a href="#" class="button btn-green">Biz Sizi Arayalım</a>
						</div>
					</div>
					<div class="life-options-story__carousel-item life-options-story__carousel-text" data-aos="fade-left">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
						</p>
						<div class="life-options-story__carousel-button hidden-m">
							<a href="#" class="button btn-green">Biz Sizi Arayalım</a>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="life-options-story__area-item">
			<div class="life-options-story__area-item-bg">
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/592749912.jpg" alt="" class="hidden-m"/>
				<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/592749912-mobile.jpg" alt="" class="show-m"/>
			</div>
			<div class="lfo__area-item-modal" data-aos="fade-up">
				<ul>
					<li class="lfo__area-item-modal__img">
						<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/logo-grand.png" alt="" class="hidden-m"/>
						<img src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/story/yasam-secenekleri/logo-grand-mobile.png" alt="" class="show-m"/>
					</li>
					{% if page_content %}
						<li class="lfo__area-item-modal__desc">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</li>
						<li class="lfo__area-item-modal__button">
							<a href="#" class="color-blue">Detaylar için tıklayın</a>
						</li>
					{% endif %}
				</ul>
			</div>

			{% if page_content == false %}
				<div class="life-options-story__carousel">
					<div class="life-options-story__carousel-item carousel-context ">
						<div class="carousel-wrapper" data-aos="fade-right">
							<div class="carousel-image" id="life-options-items-grand">
								<img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image02.jpg" alt=""/>
								<img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image02.jpg" alt=""/>
								<img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image02.jpg" alt=""/>
								<img  src="{{ __base__ }}/assets/images/loader.png" data-src="{{ __base__ }}/assets/images/life/image02.jpg" alt=""/>
							</div>
						</div>
						<div class="carousel-image-dots" id="carousel-tumbs-grand" data-thumb-type="button"></div>

						<div class="life-options-story__carousel-button show-m">
							<a href="#" class="button btn-green">Biz Sizi Arayalım</a>
						</div>
					</div>
					<div class="life-options-story__carousel-item life-options-story__carousel-text" data-aos="fade-left">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
						</p>
						<div class="life-options-story__carousel-button hidden-m">
							<a href="#" class="button btn-green">Biz Sizi Arayalım</a>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	{% if page_content == true %}
		<div class="life-options-story__button">
			<a href="#">Detaylar</a>
		</div>
	{% endif %}
</div>
