<section>
	<div class="section-page">
		<div class="section-page__context">
			{% set page_content = true %}
			{% include "partials/main/sections/yasam-secenekleri-story-content.twig" %}
		</div>
	</div>
</section>
