.daire-planlari {
  display: block;
  &__item {
    display: block;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    text-align: center;
    &_image {
      width: 100%;
      img {
        width: 100%;
        display: block;
        @media screen and (max-width: 768px) {
          height:170px;
          object-fit: cover;
        }
      }
    }
    &-desc {
      display: block;
      font-size: 20px;
      margin: 10px auto;
      max-width: 1280px;
      @media screen and (max-width: 768px) {
        font-size: 15px;
        padding:10px 20px;
      }
    }
    &_group {
      display: flex;
      margin: 50px auto;
      max-width: 1280px;
      align-items: center;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
      }
    }
  }
  .planlari__item_group_left {
    display: block;
    img {
      display: block;
      @media screen and (max-width: 768px) {
        width:60%;
        margin: auto;
      }
    }
  }
  .planlari__item_group_right {
    display: block;
    margin: 20px 60px;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      li {
        width: 50%;
        padding: 10px;
        div {
          background-color: #0f8acb;
          border-radius: 15px;
          padding: 10px;
          color: white;
          text-align: center;
          h2 {
            font-weight: bold;
            margin: 0;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      margin: 20px;
      ul {
        flex-direction: column;
        li {
          width: 100%;
          h2{
            font-size:15px;
          }
        }
      }
    }
  }
}
