.gallery {
  max-width: 1400px;
  margin: auto;
  @media screen and (max-width: 1280px) {
    padding: 0 20px;
  }
  &-tabs {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    
    @media screen and (max-width: 425px) {
      flex-direction: column;
    }
    button {
      flex: 1;
      max-width: 1140px;
      margin: 0 10px;
      background-color: white;
      padding: 15px 20px;
      text-align: center;
      font-weight: 700;
      transition: all .2s linear;

      @media screen and (max-width: 425px) {
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &.btn-green {
        border: 2px solid $color_green;
        color: $color_green;
        &:hover,
        &.active {
          background-color: $color_green;
          color: white;
        }
      }
    }
  }
  &-content {
    margin-left: -20px;
    margin-right: -20px;
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    flex-wrap: wrap;
  }
  &-item {
    padding: 20px;
    float: left;
    width: 33.3333%;
    margin-bottom: 10px;
    height: 258px;
    &:first-child {
      width: 66.666%;
      height: inherit;
      img {
        height: inherit;
      }
    }
    @media screen and (max-width: 1024px) {
      &:first-child {
        width: 100%;
      }
    }

    @media screen and (max-width: 768px) {
      width: 50%;
    }
    @media screen and (max-width: 500px) {
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
