
body,
html {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}
a {
  transition: all 300ms linear;
}

.btn {
  position: relative;
  &:active {
    top: 1px;
  }
}

ul,
li,
p,
ol,
label,
span,
i {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 3.4rem;
  margin-bottom: 5px;
  margin-top: 5px;
}
h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 5px;
}
.show-m {
  display: none !important;
}

.show-flex-m {
  display: none !important;
}