.basin-items {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  &__item {
    width: 25%;
    padding: 10px;
    margin: 20px 0;
    &-image {
      img {
        display: block;
        width: 100%;
      }
    }
    &-title {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      span {
        font-weight: bold;
      }
      span,
      label {
        font-size: 20px;
        color: $color_blue;
      }
    }
    @media screen and (max-width: 768px) {
      width: 50%;
      &-title {
        align-items: center;
        label,span {
          font-size: 18px;
        }
      }
    }

    @media screen and (max-width: 425px) {
      width: 100%;
    }

    &-button {
      margin-top: 20px;
      a {
        display: block;
        border: 2px solid $color_green;
        color: $color_green;
        padding: 10px 10px;
        font-size: 18px;
        text-align: center;
        &:hover {
          color: white;
          background-color: $color_green;
        }
      }
    }
  }
}
