{% extends 'layouts/master.twig' %}

{% block config %}
	window.page = 'galeri'
{% endblock %}
{% block body %}
	<div class="page-section">
		<div class="page-section page-section-header">
			<h1>
				<strong>GALERİ</strong>
			</h1>
			<p>Lorem ipsum dolor sit amet</p>
		</div>
		<div class="gallery">
			<div class="gallery-tabs">
				<button type="button" class="btn-green active">Proje Görselleri</button>
				<button type="button" class="btn-green">İnşaat Görselleri</button>
				<button type="button" class="btn-green">Örnek Daire Görselleri</button>
				<button type="button" class="btn-green">Video Görselleri</button>
			</div>
			<div class="gallery-content">
				<div class="gallery-item">
					<a href="{{ __base__ }}/assets/images/gallery/image01.jpg" class="glightbox"><img src="{{ __base__ }}/assets/images/empty.jpg" data-src="{{ __base__ }}/assets/images/gallery/image01.jpg" alt=""/></a>
				</div>
				<div class="gallery-item">
					<a href="{{ __base__ }}/assets/images/gallery/image01.jpg" class="glightbox"><img src="{{ __base__ }}/assets/images/empty.jpg" data-src="{{ __base__ }}/assets/images/gallery/image01.jpg" alt=""/></a>
				</div>
				<div class="gallery-item">
					<a href="{{ __base__ }}/assets/images/gallery/image01.jpg" class="glightbox"><img src="{{ __base__ }}/assets/images/empty.jpg" data-src="{{ __base__ }}/assets/images/gallery/image01.jpg" alt=""/></a>
				</div>
				<div class="gallery-item">
					<a href="{{ __base__ }}/assets/images/gallery/image01.jpg" class="glightbox"><img src="{{ __base__ }}/assets/images/empty.jpg" data-src="{{ __base__ }}/assets/images/gallery/image01.jpg" alt=""/></a>
				</div>
				<div class="gallery-item">
					<a href="{{ __base__ }}/assets/images/gallery/image01.jpg" class="glightbox"><img src="{{ __base__ }}/assets/images/empty.jpg" data-src="{{ __base__ }}/assets/images/gallery/image01.jpg" alt=""/></a>
				</div>
				<div class="gallery-item">
					<a href="{{ __base__ }}/assets/images/gallery/image01.jpg" class="glightbox"><img src="{{ __base__ }}/assets/images/empty.jpg" data-src="{{ __base__ }}/assets/images/gallery/image01.jpg" alt=""/></a>
				</div>
				<div class="gallery-item">
					<a href="{{ __base__ }}/assets/images/gallery/image01.jpg" class="glightbox"><img src="{{ __base__ }}/assets/images/empty.jpg" data-src="{{ __base__ }}/assets/images/gallery/image01.jpg" alt=""/></a>
				</div>
				<div class="gallery-item">
					<a href="{{ __base__ }}/assets/images/gallery/image01.jpg" class="glightbox"><img src="{{ __base__ }}/assets/images/empty.jpg" data-src="{{ __base__ }}/assets/images/gallery/image01.jpg" alt=""/></a>
				</div>
				<div class="gallery-item">
					<a href="{{ __base__ }}/assets/images/gallery/image01.jpg" class="glightbox"><img src="{{ __base__ }}/assets/images/empty.jpg" data-src="{{ __base__ }}/assets/images/gallery/image01.jpg" alt=""/></a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
