{% extends 'layouts/master.twig' %}
{% block config %}
	window.page = 'iletisim'
{% endblock %}
{% block body %}

	<div class="page-section">
		<div class="page-section page-section-header">
			<h1>
				<strong>İLETİŞİM</strong>
			</h1>
			<p>3. İstanbul Konut Projesi ve Satış Ofisi Adresi</p>
		</div>
		<div class="page-section-description contact-page-description">
			Hürriyet Bulvarı Oyak Kent Yanı Başakşehir Mahallesi<br/>
			Çağrı Merkezi: 0850 285 79 00<br/>
			Satış Ofisi: 0212 405 50 50
		</div>
		<div class="contact-context">
			<div class="contact-context-map">
				<img src="{{ __base__ }}/assets/images/common/map2.jpg" alt="" />
			</div>
			<div class="contact-context-button">
				<a href="#" class="btn-green">Nerden Geliyorsunuz?</a>
				<a href="#" class="btn-blue">Güzergah Belirle?</a>
			</div>
		</div>
	</div>

{% endblock %}
