{% extends 'layouts/master.twig' %}

{% block config %}
	window.page = 'lokasyon'
{% endblock %}

{% block body %}
	{% set show_header = false %}
	<div class="page-section">
		<div class="page-section page-section-header">
			<h1>
				<strong>BÜTÜN YOLLAR</strong>
				3. İSTANBULA ÇIKACAK</h1>
			<p>Nereye gitsem içimde İstanbul sevdası...<br/>
				Nereye gitsem yok bana ondan yakını...</p>

		</div>
		<div class="page-section-description">
			Avrupa’nın en büyüğü olması planlanan ve doğanın en güzel renklerini cömertçe önünüze serecek Botanik Park’a<br/>komşu 3. İstanbul sayesinde,şehirde yaşadığınızı bile unutacaksınız. 368 bin metrekarelik bir alana kurulacak olan ve<br/>doğanının güzelliklerini seyre dalıp keyifli yürüyüşler yapacağınız Botanik Park, evinizin bahçesi gibi olacak...
		</div>
		{% include "lokasyon_content.twig" %}
	</div>

{% endblock %}
